* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --card-height: 55vh;
    --card-width: 21vw;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #18102f;
    background: radial-gradient(circle, #18102f 0%, #0f3158 50%);
  }
  
  .card-background {
    
    height: var(--card-height);
    width: var(--card-width);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  }
  .card-background .imgBck {
    display: flex;
    justify-content: flex-end;
    background: #020024;
    background: linear-gradient(243deg, #020024 0%, #3e3e6d 80%, #6363a3 100%);
    height: 55%;
    border-radius: 30px 0;
  }
  .card-background .lama {
    height: 100%;
    padding: 10px;
    margin-left: 10px;
    z-index: 3;
  }
  .card-background .planet {
    z-index: 1;
    margin-top: -60px;
    margin-left: 300px;
    height: 110px;
    opacity: 0.8;
  }
  .card-background .texte {
    background-color: whitesmoke;
    height: 70%;
    padding: 20px;
    border-radius: 0 0 30px 30px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  .card-background .texte h1 {
    margin: 20px 0;
    text-align: center;
  }
  .card-background .texte p {
    font-family: Arial, Helvetica, sans-serif;
  }
  .card-background .texte button {
    padding: 10px;
    background-color: #3e3e6d;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 70px;
    color: whitesmoke;
    width: 200px;
    font-size: 20px;
  }
  .card-background .texte :hover {
    background-color: whitesmoke;
    color: #3e3e6d;
  }